<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static "roster/main.js" %}"></script>
    <title>{% block title %}Contact Roster{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{% static "roster/contact-logo.png" %}" width=25/>
        </a>
        <ul class="navbar-nav mr-auto">
            {% for team in teams %}
            <li class="nav-item{% if request.resolver_match.kwargs.slug == team.slug %} active{% endif %}">
                <a class="nav-link" href="{% url "team-roster" team.slug %}">
                    {{ team.name }}
                    <img src="{{ team.logo.url }}" style="height: 30px;" />
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
