{% extends "roster/body.html" %}
{% block content %}
<div class="container">
    <table class="table">
    {% for squad, ranks in squads %}
        {% with roles=squad.squadrole_set.all %}
        <thead id="squad-{{ squad.order }}" class="thead-light">
            <tr>
                <th>{{ squad.short }}</th>
                <th>{{ squad.name }}</th>
                <th class="text-right">{{ roles|length }} player{{ roles|length|pluralize }}</th>
            </tr>
        </thead>
        {% endwith %}
        <tbody>
        {% for rank, roles in ranks %}
            {% for role in roles %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{ roles|length }}">{{ rank }}</td>
                {% endif %}
                <td class="align-middle">
                    {{ role.player }}
                </td>
                <td class="text-right">
                {% for second_role in role.player.squadrole_set.all %}
                {% if second_role != role %}
                <a href="#squad-{{ second_role.squad.order }}" class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="top" title="{{ second_role.get_role_display }} of {{ second_role.squad.name }}">{{ second_role.squad.short }}</a>
                {% endif %}
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}
